<div class="text-center">
    <h1>Registration Failure</h1>
    <p>
        <i>
            Something unexpected happend!.<br />
            Click <a href="/Register"><b>here</b></a> to try again.
        </i>
    </p>
</div>