<div class="text-center">
    <!-- Will display when user successfuly registers an account -->
    <h1>Registration Success</h1>
    <p>
        <i>
            You have successfully registered!<br />
            Click <a href="/Login"><b>here</b></a> to login.
        </i>
    </p>
</div>