<div class="text-center">
    <h1 class="my-5">Registration Success</h1>
    <p class="status-text">
        <i>
            You have successfully registered!<br />
            Click <a href="/Login"><b>here</b></a> to login.
        </i>
    </p>
</div>