@using Milestone_cst_350.Models;
@model BoardModel

@if (ViewBag.HasWon)
{
    <h1>You won!</h1>
}


<div class="d-flex gb_container">
    <!-- TODO: Styling -->
<div class="text-center d-flex flex-column align-items-center mb-5 col-4">
    <p class="gb_score">SCORE HERE?</p>
    <button class="btn btn-sm btn-danger gb_reset" id="ms-reset">Reset</button>
</div>


<!-- Wrapping Container -->
<main class="d-flex flex-column justify-content-center col-5 home_board">
    <div class="gb_board_grid">
        @{
        for (int i = 0; i < 10; i++)
        {
            // Grid Row
            <div class="row m-1 justify-content-center">
                @for (int j = 0; j < 10; j++)
                {
                    CellModel cell = Model.GetCell(i, j);

                    string btnId = $"ms-{cell.Row}-{cell.Col}";
                    string cellId = $"{cell.Row},{cell.Col}";
                    string className = cell.IsVisited ? "btn-secondary" : "gb_btn_style";
                    string value = "";

                    if (cell.IsLive && cell.IsVisited)
                    {
                        value = "*";
                    }
                    else if (cell.IsVisited)
                    {
                        value = cell.LiveNeighbors.ToString();
                    }
                    else if (cell.IsFlagged)
                    {
                        value = "&";
                    }

                    // Grid Col
                    <div class="col-1">
                        <button class="btn btn-sm @className" id="@btnId" style="width: 35px; height: 35px;">
                            @value
                        </button>
                    </div>
                }
            </div>
        }
    }
    </div>
</main> 
</div>