@{
    Guid sessionId = ViewBag.sessionId;
    int userId = ViewBag.userId;
    string username = ViewBag.username;
}

<input type="hidden" value="@sessionId" id="session-id"/>
<input type="hidden" value="@userId" id="user-id"/>
<input type="hidden" value="@username" id="user-name"/>

<h1 class="text-center gb_title">Minesweeper</h1>

<div id="game-board"></div>

<!-- Scripts: jQuery before board.js -->
<script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="~/js/timer.js" type="text/javascript"></script>
<script src="~/js/board.js" type="text/javascript"></script>
