<div class="text-center">
    <h1>Failed!</h1>
    <p>
        <i>
            Something unexpected<br />
            happened! Please come back<br />
            and try again.
        </i>
    </p>
</div>