<div class="text-center">
    <h1>Failed!</h1>
    <p>
        <i>
            Something unexpected<br />
            happened! Please try<br />
            loggining in again.
        </i>
    </p>
</div>