<script type="text/javascript">
    // Redirect user back to home page in 5s
    setTimeout(() => window.location = "/Home", 5000);
</script>

<div class="text-center">
    <h1>Success!</h1>
    <p>
        <i>
            We are redirecting you to<br />
            back now...
        </i>
    </p>
</div>
