@model Milestone_cst_350.Models.LoginModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>Access Denied</h1>
<p>@Model.Username and @Model.Password will not give you access to this site. </p>