:root {
    --primary-bg-color: #7848FF;
    --primary-font-color: #FFFFFF;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.pg-title {
}

.navbar-style {
    background: var(--primary-bg-color) !important;
}

    .nav-item a {
        color: var(--primary-font-color) !important;
    }

.fm-style {
    background: #F5F5F5;
    border-radius: 10px;
    box-shadow: lightgray 1px 1px 3px 0px;
}

    .form-group {
        margin-bottom: 2em;
    }

    .fm-gp-style {
        display: flex;
        align-items: center;
    }

        .control-label {
            width: 30%;
            margin-right: 10px;
            text-align: center;
            background-color: #7848FF;
            padding: 0 4px;
            color: white;
            border-radius: 25px;
        }

.form-btm a {
    text-decoration: none;
    text-emphasis:none;
    color: black;
}

    ef {
        color: var(--primary-bg-color);
    }

    .btn-style {
        background: var(--primary-bg-color);
        color: var(--primary-font-color);
    }

        .btn-style:hover {
            background: white;
            color: var(--primary-bg-color);
        }

.ft-style {
    background: #2F2F2F;
}

/*------Board Game Page-------*/

.gb_title {
    margin: 2em 0 1em 0;
    color: var(--primary-bg-color);
}

.gb_score, .gb_reset {
    font-size: 14pt;
}

.gb_score {
    background: var(--primary-bg-color);
    color: white;
    width: fit-content;
    padding: 6px;
    border-radius: 3px;
}

.gb_reset {
    width: fit-content;
}

.gb_board_grid {
    background: #D9D9D9;
    padding: 10px 0px;
}

.gb_btn_style {
    color: white;
    background: #EFEFEF; 
}

.status-text {
    color: gray;
    font-size: 15pt;
}