:root {
    --primary-bg-color: #7848FF;
    --primary-font-color: #FFFFFF;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.pg-title {
    margin-bottom: 2em;
}

.navbar-style {
    background: var(--primary-bg-color) !important;
}

    .nav-item a {
        color: var(--primary-font-color) !important;
    }

.fm-style {
    background: #F5F5F5;
    border-radius: 10px;
    box-shadow: lightgray 1px 1px 3px 0px;
}

    .form-group {
        margin-bottom: 2em;
    }

    .fm-gp-style {
        display: flex;
        align-items: center;
    }

        .control-label {
            margin-right: 1em;
        }

.form-btm a {
    text-decoration: none;
    text-emphasis:none;
    color: black;
}

    ef {
        color: var(--primary-bg-color);
    }

    .btn-style {
        background: var(--primary-bg-color);
        color: var(--primary-font-color);
    }

.ft-style {
    background: #2F2F2F;
}