<!-- JS Row Insertion in table body -->
<table class="table" >
    <thead>
        <tr>
            <th>Id</th>
            <th>Save Date</th>
            <th>Actions</th>
            <th>Saved State</th>
        </tr>
    </thead>

    <tbody id="save-game-table-body">
 
    </tbody>
</table>

<!-- AJAX for the saved game API -->
<script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="js/saved-games.js"></script>
