<!-- TODO: JS Row Insertion, Styling -->

<table class="table" >
    <thead>
        <tr>
            <th>Id</th>
            <th>Save Date</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody id="save-game-table-body">
        <!-- TODO: Remove example element.-->
        <tr>
            <td>1</td>
            <td>2022-3-1</td>
            <td>
                <button class="btn btn-sm btn-primary" id="ms-play-IDHERE">Play</button>
                <button class="btn btn-sm btn-danger" id="ms-delete-IDHERE">Delete</button>
            </td>
            <td hidden>SAVE_STATE_HERE</td>
        </tr>
    </tbody>
</table>

<!-- AJAX for the saved game API -->
<script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="js/saved-games.js"></script>
